.Footer {
  padding: 30px 30px 10px 30px;
}
.Footer footer {
  background-color: white;
  font-size: 15px;
  font-family: var(--first-font);
  color: var(--third-color);
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .Footer footer {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .Footer {
    display: flex;
    justify-content: center;
  }
  .Footer footer {
    width: 80vw;
  }
}
@media screen and (min-width: 1440px) {
  .Footer footer {
    width: 60vw;
  }
}
