.Main {
  background-color: var(--sixth-color);
  height: auto;
  /* padding: 0 20px; */
  display: flex;
  justify-content: center;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
.Container h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--third-color);
  padding: 0 0 30px 0;
  text-align: center;
}
.Container p {
  text-align: center;
  font-size: 15px;
  font-family: var(--first-font);
  font-weight: 300;
  line-height: 30px;
}
.Init {
  display: flex;
  flex-direction: column;
  height: 35vh;
}
.Download {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Download p {
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0;
}
.Download a {
  display: flex;
  background: var(--first-color);
  justify-content: center;
  padding: 7px 0;
  width: 144px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.Download a img {
  margin-right: 10px;
}
hr {
  background-color: var(--third-color);
  margin: 10px 0;
}
.Contain {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Contain h3 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--third-color);
}
.Contain h4 {
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 600;
}
.Contain p {
  text-align: left;
  padding: 5px 0;
}

.Contain p.Name {
  font-size: 16px;
  font-family: var(--second-font);
  font-weight: 500;
}
.Contain p.Date {
  font-size: 18px;
  font-family: var(--second-font);
  font-weight: 300;
}
.SkillsList {
  display: flex;
  justify-content: space-between;
}
.SkillsList ul {
  font-size: 18px;
  font-family: var(--second-font);
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .Container h1 {
    font-size: 40px;
  }
  .Container p {
    font-size: 18px;
    line-height: 35px;
  }
  .Contain {
    flex-direction: row;
    height: auto;
  }
  .Init {
    height: 30vh;
    /* justify-content: center; */
  }
  .Education {
    width: 100%;
    padding: 0 50px 0 0;
  }
  .Skills {
    width: 100%;
  }
  .Download {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1280px) and (min-height: 800px) {
  .Container {
    width: 75vw;
  }
  .Container h1 {
    font-size: 50px;
  }
  .Contain {
    height: 50vh;
  }
  .Init {
    height: 35vh;
  }
}
@media screen and (min-width: 1280px) and (min-height: 1024px) {
  .Contain {
    height: 40vh;
  }
  .Init {
    height: 28vh;
  }
}
@media screen and (min-width: 1366px) {
  .Container {
    width: 60vw;
  }
  .Contain {
    height: 60vh;
  }
  .Init {
    height: 45vh;
  }
}
@media screen and (min-width: 1440px) {
  .Contain {
    height: 40vh;
  }
  .Init {
    height: 25vh;
  }
   .Download {
    margin-top: 0;
  }
}
