.FormHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}
.FormHeader h1 {
  font-size: 30px;
  font-family: 'Arial';
  font-weight: bold;
  color: var(--third-color);
  text-align: center;
}
.FormHeader p {
  font-size: 15px;
  font-family: var(--first-font);
  font-weight: 300;
  color: var(--third-color);
  text-align: center;
}
.Container {
  background-color: var(--sixth-color);
  height: auto;
  padding: 40px 20px;
}
.ContainerNone {
  opacity: 0.3;
}
.Contain {
  display: flex;
  flex-flow: column;
  max-width: 374px;
  width: 100%;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.formSubmit {
  opacity: 0.3;
}
input {
  height: 50px;
  border: 1px solid #404040;
  outline-color: #404040;
}
label {
  font-family: var(--first-font);
  font-size: 15px;
  font-weight: 300;
  color: var(--first-color);
  padding: 15px 0 5px 0;
  font-weight: 400;
}
textarea {
  border: 1px solid #404040;
  outline-color: #404040;
}

.Button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 0 16px;
  width: 110px;
  height: 44px;
  margin-top: 30px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: white;
  background-color: var(--first-color);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--second-font);
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.Button img {
  padding: 5px 14px 5px 0;
}

.Button::-moz-focus-inner {
  border: none;
}

/* Overlay */
.Button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.Button::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.Button:hover,
.Button:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.Button:hover::before {
  opacity: 0.08;
}

.Button:focus::before {
  opacity: 0.24;
}

.Button:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.Button:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.Button:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.Button:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.Button:disabled::before {
  opacity: 0;
}

.Button:disabled::after {
  opacity: 0;
}

.FormFooter {
  padding: 0 25px;
}
.FormFooter h3 {
  font-size: 25px;
  font-family: 'Arial';
  font-weight: bold;
  color: var(--third-color);
  text-decoration: underline;
}
.FormFooter ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.FormFooter ul li img {
  margin: 0 10px 0 0;
}
@media screen and (min-width: 768px) {
  .FormContainer {
    height: auto;
  }
  .FormGrid {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .FormFooter {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1024px) {
  .Container {
    padding: 0;
  }
  .FormFooter {
    padding: 0;
  }
}
@media screen and (min-width: 1280px) and (min-height: 800px) {
  .FormContainer {
    height: auto;
  }
  .FormHeader h1 {
    font-size: 50px;
  }
  .FormHeader p {
    font-size: 18px;
  }
  .Container {
    padding: 30px 0;
  }
  .FormFooter {
    padding: 30px 0;
  }
}

@media screen and (min-width: 1440px) and (min-height: 900px) {
  .Container {
    padding: 50px 0 0 0;
  }
  .FormFooter {
    padding: 50px 0 0 0;
  }
}
@media screen and (min-width: 1920px) {
  .Container {
    padding: 20px 0 0 0;
  }
  .FormFooter {
    padding: 20px 0 0 0;
  }
}
