.Container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* padding: 60px 0 0 0; */
  height: 90vh;
}

.Container p {
  font-size: 30px;
  font-weight: 400;
  font-family: var(--second-font);
  color: var(--first-color);
  text-align: center;
  padding: 30px 0;
}
@media screen and (min-width: 768px) {
  .Container p {
    font-size: 40px;
    padding: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .Container p {
    padding: 60px;
  }
}
