main {
  background-color: var(--sixth-color);
}
.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.HomeContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  padding: 0 30px;
}
.HomeContent h1 {
  font-family: var(--second-font);
  color: var(--first-color);
  font-size: 30px;
  font-weight: 600;
}
.HomeContent h1 span {
  border-bottom: 1px solid #594747;
}
.HomeButtons {
  display: flex;
}
.HomeButtons a {
  padding: 0 20px 0 0;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    height: calc(100vh - 250px);
  }
  .Home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 87vw;
  }

  .HomeContent {
    height: 50vh;
  }
  .HomeContent h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) and (min-height: 800px) {
  /* main {
    height: auto;
  } */
  .Home {
    max-width: 75vw;
  }
  .HomeContent h1 {
    padding: 0 0 20px 0;
    font-size: 44px;
  }
  .HomeContent {
    height: 70vh;
  }
}

@media screen and (min-width: 1366px) {
  main {
    height: 100vh;
  }
  .Home {
    max-width: 75vw;
  }
}
@media screen and (min-width: 1440px) and (min-height: 900px) {
  .Home {
    max-width: 70vw;
  }
  main {
    height: calc(100vh - 250px);
  }
}
@media screen and (min-width: 1920px) {
  /* main {
    height: calc(100vh - 250px);
  } */
  .Home {
    max-width: 55vw;
  }
  .HomeContent {
    height: 45vh;
  }
  .HomeContent p {
    font-size: 18px;
  }
}
