.Header {
  width: 100%;
  height: auto;
  padding: 20px 30px;
  background-color: var(--sixth-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Logo {
  font-family: 'Arial';
  font-size: 60px;
  font-weight: 900;
  color: var(--third-color);
}
.Navbar {
  display: none;
}
.SocialIcon {
  display: none;
}
.Lang {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Lang ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: var(--second-font);
  color: var(--third-color);
}
.Lang ul li {
  padding: 0 5px;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .Header {
    /* width: 100%;
    height: auto; */
    padding: 20px 80px;
    /* background-color: var(--sixth-color); */
  }

  .HeaderElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .MobileMenu {
    display: none;
  }
  .Navbar {
    display: flex;
    justify-content: space-between;
  }

  .Navbar a {
    color: var(--third-color);
    display: inline-block;
    font-family: var(--second-font);
    font-size: 20px;
    font-weight: 600;
    padding: 0.2rem 1rem;
    margin: 0 15px 0 0;
    border: 2px solid transparent;
    letter-spacing: 2px;
  }
  .Navbar a:hover {
    background-color: #59474718;
  }
  a:active,
  a.active {
    border: 2px solid #594747;
  }
  .Lang {
    width: auto;
  }
  .SocialIcon {
    display: block;
  }
  .SocialIcon ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .SocialIcon ul li {
    padding: 0 15px;
  }
}
