.Main {
  background-color: var(--sixth-color);
  height: auto;
}

.Section h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--third-color);
  padding: 30px 0;
  text-align: center;
}
.CardHorizontal {
  position: relative;
  max-width: 800px;
}
.CardContainer {
  /* snap mandatory on horizontal axis  */
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  /* align-items: center; */
  height: 430px;
  /* Enable Safari touch scrolling physics which is needed for scroll snap */
  -webkit-overflow-scrolling: touch;
}
.Card {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: auto;
  scroll-snap-align: center;
  margin: 0 3px 0 10px;
  position: relative;
}
.CardImg {
  width: 350px;
  height: 200px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
.CardImg img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
.CardContain {
  padding: 20px;
}
.Card h3 {
  font-size: 20px;
  padding: 0 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--first-color);
}
.Card p {
  font-size: 15px;
  font-family: var(--first-font);
  font-weight: 300;
  color: var(--first-color);
  padding: 0 0 20px 0;
  line-height: 25px;
}
.Card a {
  margin: 0 10px 0 0;
}
.CardButtons {
  display: flex;
  align-items: center;
}
.InnerCard {
  width: 100%;
  padding: 10px 0;
  flex-flow: column;
  display: flex;
}
.InnerCard span {
  margin: 0 30px 0 0;
}
.InnerCard strong {
  font-size: 15px;
  font-family: var(--second-font);
  font-weight: bold;
  color: var(--first-color);
}

@media screen and (min-width: 768px) {
  .Main {
    display: flex;
    justify-content: center;
    height: calc(100vh - 250px);
  }
  .Section {
    padding: 0 30px;
  }
  .Section h1 {
    font-size: 40px;
    padding: 30px 0;
  }
  .CardHorizontal {
    max-width: 650px;
  }
  .CardContainer {
    height: 60vh;
    align-items: center;
  }

  .InnerCard {
    flex-flow: row;
  }
}
@media screen and (min-width: 1024px) {
  .CardContainer {
    height: 50vh;
  }
  .CardHorizontal {
    max-width: 900px;
  }
}
@media screen and (min-width: 1366px) {
  .Main {
    height: 100vh;
  }
   .CardContainer {
    height: 80vh;
  }
}
@media screen and (min-width: 1440px) {
   .Main {
    height: calc(100vh - 250px);
  }
  .CardHorizontal {
    max-width: 1200px;
  }
  .CardContainer {
    height: 540px;
  }
}
@media screen and (min-width: 1920px) {
 
  .CardHorizontal {
    max-width: 1500px;
  }
  .CardContainer {
    height: 575px;
  }
}
