.SideBar {
  position: fixed;
  width: 380px;
  max-width: 81%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  background-color: white;
  padding: 32px 16px;
  transition: transform 0.3s ease-out;
}

/* @media (min-width: 500px) {
  .SideBar {
    display: none;
  }
} */

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.Navbar {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.Navbar a {
  color: var(--third-color);
  display: inline-block;
  font-family: var(--second-font);
  font-size: 20px;
  font-weight: bold;
  padding: 0.2rem 1rem;
  margin: 15px 0;
  border: 2px solid transparent;
}
.Navbar a:hover {
  background-color: #59474718;
}
a:active,
a.active {
  border: 2px solid #594747;
}

/* Hamburger Button */

button {
  cursor: pointer;
}

/* remove blue outline */
button:focus {
  outline: 0;
}

.Burgerbutton {
  position: relative;
  height: 30px;
  width: 37px;
  display: block;
  z-index: 999;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  pointer-events: all;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Burgerbar {
  background-color: var(--third-color);
  position: absolute;
  top: 50%;
  right: 6px;
  left: 6px;
  height: 2px;
  width: auto;
  margin-top: -1px;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Burgerbar1 {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.Burgerbar2 {
  transform-origin: 100% 50%;
  transform: scaleX(0.8);
}

.Burgerbutton:hover .Burgerbar2 {
  transform: scaleX(1);
}

.no-touchevents .Burgerbar2:hover {
  transform: scaleX(1);
}

.Burgerbar3 {
  transform: translateY(8px);
}

.Burgers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
}
.Menu {
  font-family: var(--first-font);
  font-weight: 400;
}

.Burgers.active .Burgerbutton {
  transform: rotate(-180deg);
}

.Burgers.active .Burgerbar {
  background-color: #fff;
}

.Burgers.active .Burgerbar1 {
  transform: rotate(45deg);
}

.Burgers.active .Burgerbar2 {
  opacity: 0;
}

.Burgers.active .Burgerbar3 {
  transform: rotate(-45deg);
}
.SocialIcon ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SocialIcon ul li {
  padding: 0 15px;
}

@media screen and (min-width: 1280px) {
  .Burgers {
    display: none;
  }
}

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: var(--second-color);
}
