@import url('https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css');
@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* Fonts */
  --first-font: 'Roboto', sans-serif;
  --second-font: 'Open Sans', sans-serif;
  /* Colors */
  --first-color: #404040;
  --second-color: #595959;
  --third-color: #594747;
  --fourth-color: #a6a6a6;
  --fifth-color: #bfbfbf;
  --sixth-color: #f2f2f2;
}

html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  background-color: var(--sixth-color);
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.home-name {
  font-size: 150px;
}
